<section #wrapper (mousemove)="moveEyes($event)" class="h-full">
  <div class="h-[40%] flex flex-col justify-around">
    <div>
      <div class="text-6xl flex gap-3 max-h-[60px] overflow-hidden justify-center">
        <div class="hello-texts">
          <p>Hello</p>
          <p>Hallo</p>
          <p>नमस्ते</p>
          <p>Hola</p>
        </div> <span class="wave">👋🏻</span>
      </div>
    </div>
    <div>
      <div class="text-3xl text-center">
        <p class="name"></p>
        <p class="actions"></p>
      </div>
    </div>

  </div>
  <div class="h-[60%] relative">
    @if (heroImageRef) {
      <div [style.width.px]="heroImageRef.nativeElement.width*0.23"
           class="h-8 glowing-border absolute border border-amber-300 top-[35%] left-[54%] md:top-[30%] md:left-[51%] bg-gradient-to-b from-slate-500 to-dark rounded-t-lg rounded-b-xl -translate-x-1/2 -translate-y-1/2">
        <div class="w-full h-full flex justify-between items-center flex-nowrap">
          <div class="w-full h-full relative">
            <div #leftEye class="absolute translate-x-1/2 translate-y-1/2 transition-all rounded-sm border border-amber-300 h-2 w-2 bg-amber-400 glowing-border"></div>
          </div>
          <div class="w-full h-full relative">
            <div #rightEye class="absolute translate-x-1/2 translate-y-1/2 transition-all rounded-sm border border-amber-300 bg-amber-400 glowing-border h-2 w-2"></div>
          </div>
        </div>
      </div>
    }
    <div class="flex w-full h-full justify-center items-end">
      <img #heroImage (load)="imageLoaded()" class="h-full object-contain mx-auto" alt="Mrugendra Shilvant"
           src="assets/images/me.png">

    </div>
  </div>
</section>
