.marker {
  transition: 0.5s;
  opacity: 0;
  &.move{
    animation: moveDown 5s ease-in-out;
  }
}

@keyframes moveDown {
  0% {top: 0; opacity: 1}
  95% {top: 95%; opacity: 1}
  100% {top: 100%; opacity: 0}
}
